CLIENT_GATEWAY_PORT=3000
# Put here your Stripe key from https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=
# Put here your Stripe webhook signing secret from your Webhooks dashboard
STRIPE_WEBHOOK_SECRET=
# Put here your frontend URLfor success and cancel
STRIPE_SUCCESS_URL=https://localhost:3003/payments/success
STRIPE_CANCEL_URL=https://localhost:3003/payments/cancel